* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}
.inicioFuturo{
    color: red;
    font-size: 4vh;
}
.banner h1{
    font-size: 7vh;
}
#container{
    background-color: wheat;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.banner{
    align-items: center;
}
.inicioFuturo{
    align-items: center;
}
#cabecalho {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.33);
    align-items: center;
    height: 30px;
}

#nomeCompleto {
    font-family: 'Open Sans';
    font-size: 25px;
}
#paiInput{
    margin-top: 5em;
    width: auto;
    font-size: 2.5vh;
}
input{
    padding: 0.4rem;
    margin-bottom: 5px;  
    border-radius: 16px;
    border: 0.1;
    width: 10px;
}

.container {
    background-color: rgba(0, 0, 0, 0.33);
    height: auto;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
}
.texto{
    font-size: 3.5vh;
}
.botao{
    width: 150px;
    margin: 10px;
    padding: 4px;
    border: none;
}
.moverBot{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Alterações cursor*/
#resultado{
    cursor: default;
}


/*Modal*/

.btn{
    padding: 10px;
    background-color: rgb(6, 139, 255);
    display: inline-block;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn:hover{
    background-color: red;
}
.modal{
    width: 500px;
    height: 500px;
    background-color: blueviolet;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    animation: animate;
    animation-duration: 800ms;
}
.fechar{
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    float: right;
    cursor: pointer;
}

@keyframes animate{
    from{opacity: 1;}    
    from{opacity: 0;}    
}