* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}
#container {
    background-image: url(Untitled\ \(7\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.banner {
    align-items: center;
    font-weight: bold;
    cursor: default;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.banner h1 {
    font-size: 7vh;
    font-weight: bold;
    
}
.logoNav{
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inicioFuturo {
    align-items: center;
    font-size: 5vh;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}


#paiInput {
    margin-top: 3em;
    width: auto;
    font-size: 2.5vh;
}

input {
    padding: 0.4rem;
    margin-bottom: 5px;
    border-radius: 16px;
    border: 1px solid #D9A282;
    outline: none;
}
input:focus{
    box-shadow: 0px 0px 5px #000;
}

.container {
    background-color: #D9D9D9;
    height: auto;
    width: 100%;
    border-radius: 20px;
    padding: 5px;
}

.nota{
    color: #D99036;
    font-size: 4vh;
    font-weight: bold;
}
.texto {
    font-size: 3.5vh;
}

.botao {
    width: 150px;
    margin: 5px;
    padding: 4px;
    border: 1px solid #D9A282;
    border-radius: 8px;
    background-color: rgb(91, 91, 91);
    color: white;

}
.botao:hover{
    background-color: #D99036;
    transition: 1s;
}

.moverBot {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Alterações cursor*/
#resultado {
    cursor: default;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#tamanho h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vh;
}
#tamanho p{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vh;
}
/*Modal*/

.modal {
    width: 300px;
    height: 300px;
    background-color: #d99036d1;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    animation: animate;
    animation-duration: 800ms;
    border-radius: 16px;
    border: 1px solid black;
}

.fechar {
    width: 25px;
    float: right;
    cursor: pointer;
    position: relative;
    font-size: 25px;
    color: rgb(34, 34, 34);
}

@keyframes animate {
    from {
        opacity: 1;
    }

    from {
        opacity: 0;
    }
}
#descubra{
    box-shadow: 16px 8px 20px rgba(67, 143, 209, 0.4);
}

/*Textos*/
#textoCentral h2 {
    color: #D99036;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#textoSecundario p {
    width: 100%;
    font-size: 2.7vh;
    text-align: justify;
    font-weight: bold;
    color: #3e3e3e;
    font-family: Arial, Helvetica, sans-serif;
}

#textoSecundario h2 {
    color: #D99036;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Setor de Marcações*/
p strong {
    color: #D99036;
    font-size: 3vh;
}


/*footer*/
footer {
    background: #333;
    padding: 5px;
    color: #fff;
    text-align: center;
    bottom: 0;
    position: relative;
    width: 100%;
}
footer img{
    width: 30px;
    margin: 2px
}

@media (max-width: 780px){
    .banner h1{
        font-size: 4.5vh;
    }
    .inicioFuturo{
        font-size: 4vh;
    }
    .navName{
        font-size: 3vh;
    }
}
@media (max-width: 1024px){
    .banner h1{
        font-size: 4vh;
    }
    .inicioFuturo{
        font-size: 3.5vh;
    }
    .navName{
        font-size: 3.5vh;
    }
}

@media (max-width: 580px){
    .banner h1{
        font-size: 3vh;
    }
    .inicioFuturo{
        font-size: 2.5vh;
    }
}
@media (max-width: 389px){
    .banner h1{
        font-size: 3vh;
    }
    .inicioFuturo{
        font-size: 2.5vh;
    }
}
@media (max-width: 280px){
    .banner h1{
        font-size: 2.7vh;
    }
    .inicioFuturo{
        font-size: 2.4vh;
    }
}